* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 150px;
}
.logo {
  background-image: url(https://github.com/SurajSakhare123/web-platform-btbzpm/blob/main/amazon_PNG25.png?raw=true);
  background-size: cover;

  height: 50px;
  width: 150px;
}
.border {
  border: 2px solid transparent;
  padding: 3px;
}
.border:hover {
  border: 1.5px solid white;
}
/*box2*/
.add-first {
  color: #cccccc;
  font-size: 1rem;
  margin-left: 15px;
}
.add-second {
  font-size: 1rem;
  margin-left: 5px;
}
.add-icon {
  display: flex;
  align-items: center;
}
/*box3*/
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 5px;
}
.nav-search:hover {
  border: 2px solid orange;
}
.search-select {
  background-color: #f3f3f3b7;
  width: 50;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(218, 183, 66);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #0f1111;
}

.nav-lang {
  color: #cccccc;
  background-color: #0f1111;
  height: 5vh;
  width: 5vw;

  text-align: center;
}
/*4th box*/
.nav-signin {
  justify-content: center;
  text-align: left;
}
span {
  font-size: 0.8rem;
}
.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}

/*5th box*/
.nav-cart i {
  font-size: 35px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/*Panels =====*/
.panel{
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel_all{
  padding: 9px;
  font-size: 20px;
}
.panel_ops p{
  margin: 15px;
  display: inline;
}

.panel_ops{
  width: 70%;
  font-size: 0.85rem;
}
.panel_deals{
  font-size: 0.9rem;
  font-weight: 700;
}

/**hero_section**/
.hero-section{
  background-image: url(https://github.com/SurajSakhare123/web-platform-btbzpm/blob/main/herosection.jpg?raw=true);
  background-size: cover;
  height: 270px;
  display: flex;
  justify-content: center;
}
.hero-msg{
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  margin-top: 200px;
}
.hero-msg a{
  color: black;
  
}

/**Shop-section**/
.shop-section{
  display: flex;
  align-items: center;
  width: 98%;
  margin: 10px;
  margin-bottom: 0px;
  justify-content: space-evenly;
  background-color: rgb(236, 221, 198);
}
.box{
  
  height: 310px;
  width: 25%;
  margin: 10px;
  background-color: white;
}
.box p{
  font-size: 16px;
}
.box a{
  color: black;
}
.box{
  font-size: 12px;
}
.boxd{
  height: 250px;
  width: 92%;
  justify-content: center;
  margin: 10px;
  background-size: cover;
}
.box1-img{
  background-image: url(https://img.freepik.com/premium-photo/skin-care-products-healthcare-procedures-concept-hygiene-cosmetic-healthy-lifestyle-spa_266732-20971.jpg);
}
.box2-img{
  background-image: url(https://img.freepik.com/premium-photo/efficient-workspace-top-view-office-accessories-ample-copy-space_750724-2952.jpg);
}
.box3-img{
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/hungryroot-1658507018.png);
}
.box4-img{
  background-image: url(https://img.freepik.com/free-photo/shirt-mockup-concept-with-plain-clothing_23-2149448792.jpg?size=626&ext=jpg);
}

.shop-section1{
  display: flex;
  align-items: center;
  width: 98%;
  margin: 10px;
  margin-top: 0px;
  justify-content: space-evenly;
  background-color: rgb(236, 221, 198);
}
.boxx{
  
  height: 320px;
  width: 32%;
  margin: 10px;
  background-color: white;
}
.boxx a{
  color: black;
}
.box5-img{
  background-image: url(https://img.freepik.com/free-psd/realistic-modern-living-room-with-sofa-white-wall_176382-494.jpg?size=626&ext=jpg&ga=GA1.1.254957978.1693630851&semt=ais);
}
.box6-img{
  background-image: url(https://img.freepik.com/free-vector/pink-discount-sale-banner_62951-68.jpg?size=626&ext=jpg&ga=GA1.1.254957978.1693630851&semt=ais);
}
.box7-img{
  background-image: url(https://img.freepik.com/free-vector/mobile-watch-ui-kit-design-concept-task-application-flat-illustration_1284-44769.jpg?size=626&ext=jpg&ga=GA1.2.254957978.1693630851&semt=ais);
}
footer{
  margin-top: 10px;
}
.foot-panel1{
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.foot-panel2{
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
ul a{
  display: block;
  font-size: 1rem;
  margin: 7px;
  color: #dddddd;
}
ul p{
  margin-left: 7px;
  margin-top: 40px;
  font-size: 1.1rem;
  font-weight: 700;
}
.foot-panel3{
  height: 50px;
  background-color: #2b3a4a;
  display: flex;
  text-align: center;
  justify-content: center;
  
}
.globe{
  width: 150px;
  margin-left: 30px;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
}
.globe p{
  margin-left: 6px;
  margin-right: 10px;
}
.foot-panel4{
  background-color: #222f3d;
  color: white;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
}
.foot-panel5{
  
  height: 70px;
  align-items: center;
  color: #dddddd;
  text-align: center;
  background-color: #222f3d;
}